# ignore backup files
*~

# ignore private and public certificates
*.pem
*.pub

# ignore binary files
*.o
mkd/bin/*
libsazukari/bin/*
legacy/megaki/bin/*
libsazukari/tests/*
!libsazukari/tests/*.c

# ignore vim swapfiles
*.swp

# ignore my vim settings
*.vim

# ignore gcc expansion files
*.expand

# ignore graphview files, these can be generated
# by egypt
*.gv
